<h1>Beers of the World</h1>

<div ng-app="app">
  <div ng-controller="beerCtrl" ng-init="setup()">
  <p>Search: </p><input ng-model="nameFilter">
  <datalist>
    <option ng-repeat="beer in beers">{{ beer.name }}</option>
  </datalist>
    <div>
      <button ng-click="changeOrderAttribute('name')">Order by name</button>
      <button ng-click="changeOrderAttribute('style')">Order by style</button>
      <button ng-click="changeOrderAttribute('alcohol')">Order by alcohol %</button>
    </div>
    <table id="beers" style="width:100%">
      <tr>
        <th ng-click="changeOrderAttribute('name')">Beer Name {{ getSortIcon('name') }}</th>
        <th ng-click="changeOrderAttribute('style')">Beer Style {{ getSortIcon('style') }}</th>
        <th ng-click="changeOrderAttribute('alcohol')">Alcohol Content {{ getSortIcon('alcohol') }}</th>
      </tr>
      <tr id="indicator-container">
      </tr>
      <tr ng-repeat="beer in beers | filter: {name: nameFilter} | orderBy:orderAttribute:isOrderDescending">
        <td>{{ beer.name }}</td>
        <td>{{ beer.style }}</td>
        <td>{{ beer.alcohol }}</td>
<!--       <button ng-click="updateBeer(beer)">Update</button>
      <button ng-click="deleteBeer(beer)">Delete</button> -->
      </tr>
    </table>
    <hr>
    <h3>Add New Beer</h3>
    <ul>
      <li ng-repeat="error in errors">{{ error }}</li>
    </ul>
    <label>Beer name: </label>
    <input ng-model="newName">
    <label>Beer style: </label>
    <input ng-model="newStyle">
    <label>Beer alcohol content (%)</label>
    <input ng-model="newAlcohol">
    <button ng-click="addBeer(newName, newStyle, newAlcohol)">Add Beer</button>
  </div>
</div>