th, td {
  padding: 15px;
}

td {
  text-align: center;
}

tr#indicator-container {
  background-color: #eee;
  padding: 10px;
}

table#beers tr:nth-child(even) {
  background-color: #eee;
}

table#beers tr:nth-child(odd) {
  background-color: #fff;
}