th, td {
  padding: 15px;
}

td {
  text-align: center;
}

tr#indicator-container {
  background-color: #eee;
  padding: 10px;
}

table#beers tr:nth-child(even) {
  background-color: #eee;
}

table#beers tr:nth-child(odd) {
  background-color: #fff;
}

.ng-enter, .ng-move{
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.ng-leave{
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  animation: fadeOut 1s;
}